@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;

}

.background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(backg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 400;
    cursor: pointer;
}

.cabecalho-link a{
    color: white;
    font-size: 12px;
}

.cabecalho-link a :hover{
    color: #e1e0e4;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button{
    color: antiquewhite;
    background-color: transparent;
    border: solid 1px antiquewhite;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #2c0c6b;
    color: antiquewhite;
    transition: 500ms;
}

.container-text{
    color:antiquewhite;
    padding: 100px 0 0 100px;
}

.text {
    margin-top: 70px;
}

.text h3{
    font-size: 15px;
}

.text h1{
    color: white;
    margin-top: 10px;
}

.text span {
    color:#ffffff
}

.text p {
    margin-top: 15px;
    font-weight: 300;
}

.social-media a{
    color: white;
    padding: 10px;
    margin-top: 30px;
}

.but {
    margin-top: 15px;

}

.container-text2{
    color:antiquewhite;
    padding: 50px 0 0 100px;
    margin-top: 90px;
}


